  <nav>
    <ul>
      <li>
        <a href="/allitems"  style="float: left">Dashboard</a>
      </li>
      <li>
        <a href="/logout" style="float: left">Logout</a>
      </li>
    </ul>
  </nav>