  <nav>
    <ul>
      <li>
        <a href="/allitems" style="float: left">Dashboard</a>
      </li>
      <li>
        <a href="/login" style="float: left">Login</a>
      </li>
    </ul>
  </nav>