  <header>
    <div class="logo">
     <a href="/"><img src="../images/logo.png" alt="My Heroe Logo" style="height: 100px; text-align: center; float: left"/>
      <!-- Logo created using https://https://hatchful.shopify.com/ --></a>
      <h2 style="font-size: 48px;">Coffee Shop</h2>
    </div>
  </header>