
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta.ejs') %> 
  <title>Thank you!</title>
</head>
<body>
  <%- include('partials/nav.ejs') %>
  <%- include('partials/nav-out.ejs') %>
  <main>
    <div class="tnksmessage">
    <h1>Thank you!</h1>
    <h2>Your request has being successfully submitted.</h2>
    </div>
  </main>
  <%- include('partials/footer.ejs') %> 
</body>
</html>